/Hotel-Management-System/nbproject/private/
/Hotel-Management-System/build/
/Hotel-Management-System/dist/
/JavaFXApplication48/nbproject/private/
/JavaFXApplication48/build/
/JavaFXApplication48/dist/
/JavaFXApplication49/nbproject/private/
/JavaFXApplication49/build/
/JavaFXApplication49/dist/
